{% load staticfiles %}
<aside class="aside">
  <!-- START Sidebar (left)-->
  <nav class="sidebar">
    <ul class="nav">
      <!-- START Menu-->
      <li class="nav-heading">
        <div class="row">
          <div class="col-lg-12 text-left">Messages</div>
        </div>
      </li>
      {% for c in convo_list %}
        {% if c.hasNew %}
        <li class="msg-item unseen"><a href="#" id="{{ c.pk }}" onClick="loadMessages({{ c.pk }}, {{ user.pk }}, '{{ c }}');">{{ c.username }}<br><p>{{ c.last_date }}</p></a></li>
        {% else %}
        <li class="msg-item"><a href="#" id="{{ c.pk }}" onClick="loadMessages({{ c.pk }}, {{ user.pk }}, '{{ c }}');">{{ c.username }}<br><p>{{ c.last_date }}</p></a></li>
        {% endif %}
      {% empty %}
      <li class="msg-item"><a href="#">No messages</a></li>
      {% endfor %}
      <!-- END Menu-->
    </ul>
  </nav>
  <!-- END Sidebar (left)-->
</aside>
