<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie ie6 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="ie ie7 lt-ie9 lt-ie8"        lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="ie ie8 lt-ie9"               lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="ie ie9"                      lang="en"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-ie">
<!--<![endif]-->

<head>
   {% load staticfiles %}
   <!-- Meta-->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
   <meta name="description" content="">
   <meta name="keywords" content="">
   <meta name="author" content="">
   <title>ScrumBLD</title>
   <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
   <!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script><script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script><![endif]-->
   <!-- Bootstrap CSS-->
   <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
   <!-- Vendor CSS-->
   <link rel="stylesheet" href="{% static "vendor/fontawesome/css/font-awesome.min.css" %}">
   <link rel="stylesheet" href="{% static "vendor/animo/animate+animo.css" %}">
   <link rel="stylesheet" href="{% static "vendor/csspinner/csspinner.min.css" %}">
   <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
   <!-- START Page Custom CSS-->
   <!-- END Page Custom CSS-->
   <!-- App CSS-->
   <link rel="stylesheet" href="{% static "css/app.css" %}">
   <!-- Modernizr JS Script-->
   <script src="{% static "vendor/modernizr/modernizr.js" %}" type="application/javascript"></script>
   <!-- FastClick for mobiles-->
   <script src="{% static "vendor/fastclick/fastclick.js" %}" type="application/javascript"></script>
</head>

<body>
   <!-- START Main wrapper-->
   <div class="wrapper">
      <!-- START Top Navbar-->
      <nav role="navigation" class="navbar navbar-default navbar-top navbar-fixed-top">
         <!-- START navbar header-->
         <div class="navbar-header">
            <a href="/landing/" class="navbar-brand">
               <div class="brand-logo">
                 <p style="font-size: 25px; color: #FFF;"><b>{&nbsp;</b>scrum<b style="color: #3BABC8; font-weight: bolder">BLD</b><b>&nbsp;}</b></p>
               </div>
               <div class="brand-logo-collapsed">
                  <img src="{% static "img/logo-single.png" %}" alt="App Logo" class="img-responsive">
               </div>
            </a>
         </div>
         <!-- END navbar header-->
         <!-- START Nav wrapper-->
         <div class="nav-wrapper">
            <!-- START Left navbar-->
            <ul class="nav navbar-nav">
               <li><a href="/projects/">Projects</a></li>
               <li><a href="#">FAQs</a></li>
               <li><a href="#">About</a></li>
            </ul>
            <!-- END Left navbar-->



            <!-- START Right Navbar-->

            {% include "basics/top_right_nav.html" %}
            <!-- END Right Navbar-->



         </div>
         <!-- END Nav wrapper-->
         <!-- START Search form-->
         <form role="search" class="navbar-form">
            <div class="form-group has-feedback">
               <input type="text" placeholder="Type and hit Enter.." class="form-control">
               <div data-toggle="navbar-search-dismiss" class="fa fa-times form-control-feedback"></div>
            </div>
            <button type="submit" class="hidden btn btn-default">Submit</button>
         </form>
         <!-- END Search form-->
      </nav>
      <!-- END Top Navbar-->
      <!-- START aside-->


      {% if sidebar %}
        {% include sidebar %}
      {% endif %}
      
      
      <!-- End aside-->
      <!-- START Main section-->
      {% if sidebar %}
        <section>
      {% else %}
        <section style="margin-left: 0px">
      {% endif %}
         <!-- START Page content-->
         <div class="main-content">
           <div class="row" style="vertical-align: bottom">
             <div class="col-lg-6">
               <h3 id="page-title">{{ title }}<br>
               <small>{{ subtitle }}</small>
               </h3>
              </div>
              <div class="col-lg-6 text-right">
                {% block top_right %}
                {% endblock %}
              </div>
            </div>
            <hr>
            <div class="row">
               <div class="col-lg-12">



                <!-- START Main content -->
                {% block content %}
                {% endblock %}
                <!-- END Main content -->



               </div>
            </div>
         </div>
         <!-- END Page content-->
         <!-- START Page footer-->
         <footer>&copy; 2015 | ScrumBLD</footer>
         <!-- END Page Footer-->
      </section>
      <!-- END Main section-->
   </div>
   <!-- END Main wrapper-->
   <!-- START Scripts-->
   <!-- Main vendor Scripts-->
   <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
   <script src="{% static "vendor/bootstrap/js/bootstrap.min.js" %}"></script>
   <!-- Plugins-->
   <script src="{% static "vendor/chosen/chosen.jquery.min.js" %}"></script>
   <script src="{% static "vendor/slider/js/bootstrap-slider.js" %}"></script>
   <script src="{% static "vendor/filestyle/bootstrap-filestyle.min.js" %}"></script>
   <!-- Animo-->
   <script src="{% static "vendor/animo/animo.min.js" %}"></script>
   <!-- Sparklines-->
   <script src="{% static "vendor/sparklines/jquery.sparkline.min.js" %}"></script>
   <!-- Slimscroll-->
   <script src="{% static "vendor/slimscroll/jquery.slimscroll.min.js" %}"></script>
   <!-- Store + JSON-->
   <script src="{% static "vendor/store/store+json2.min.js" %}"></script>
   <!-- Classyloader-->
   <script src="{% static "vendor/classyloader/js/jquery.classyloader.min.js" %}"></script>
   <!-- START Page Custom Script-->
   <!-- END Page Custom Script-->
   <!-- App Main-->
   <script src="{% static "app/js/app.js" %}"></script>
   <!-- END Scripts-->
</body>

</html>
