
<html lang="en" class="no-ie js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" style=""><!--<![endif]--><head>{% load staticfiles %}
<!-- Meta-->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<title>scrumBLD - A Network For Collaboration</title>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script><script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script><![endif]-->
<!-- Bootstrap CSS-->
<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
<!-- Vendor CSS-->
<link rel="stylesheet" href="{% static "vendor/fontawesome/css/font-awesome.min.css" %}">
<link rel="stylesheet" href="{% static "vendor/animo/animate+animo.css" %}">
<!-- App CSS-->
<link rel="stylesheet" href="{% static "app/css/app.css" %}">
<link rel="stylesheet" href="{% static "app/css/common.css" %}">
<!-- Modernizr JS Script-->
<script src="{% static "vendor/modernizr/modernizr.js" %}" type="application/javascript"></script>
<!-- FastClick for mobiles-->
<script src="{% static "vendor/fastclick/fastclick.js" %}" type="application/javascript"></script>
<link rel="stylesheet" href="{% static "app/css/landing.css" %}">
</head>

<body style="">
<!-- START wrapper-->
<header>
<section id="callout" style="height:100%;">
<div class="container">
<nav class="row"  style="padding-top:10px;">
<div class="col-md-12">
<ul class="list-inline menuapp-buttons">
<li class="mr-lg">
<a href="/user/login/">
<strong class="text-green">Sign In</strong>
</a>
</li>
<li class="mr-lg">
<a href="#">
<strong class="text-green">About</strong>
</a>
</li>
<li>
<a href="#">
<strong class="text-green">FAQ</strong>
</a>
</li>
</ul>
</div>
</nav><center>
<div>
<div class="container text-center" style="padding-top:90px;">
<p style="font-size: 60px; color: #656565;"><b>{&nbsp;</b>scrum<b style="color: #3BABC8; font-weight: bolder">BLD</b><b>&nbsp;}</b></p>
<h1 style="color:#ffff; padding-bottom:10px;" >scrumBLD is the network where users collaborate<br> to bring their ideas to life.</h1>
<!--<p style="font-size: 20px;   font-weight: 300; line-height: 1.44em;">--><h4>Create or join a project that interests you and work with a team to build it!</h4>
<br><br>
<div class="header-button">
<a href="/register/" class="btn btn-primary btn-lg btn-fw">
<strong>Join Now</strong>
</a>
</div>
</div></center>
</div>
</div>
</section>
</header>
<section>
<div class="container">
<div class="row">
<div class="col-lg-6">
<h2 class="page-header">Projects</h2>
<p>Browse the list of projects currently seeking new members. Find the project that suits your interests and skills.</p>
<p>Make
<strong>scrumBLD</strong> the start point of your next project.</p>
<p>Check out the posts</p>
<br>
<p>
<a href="/" class="btn btn-green">
<strong>View Projects</strong>
</a>
</p>
</div>
<div data-toggle="play-animation" data-play="fadeInRight" data-offset="-250" class="col-lg-6">
<img src="{% static "app/img/landing/app-multi.png" %}" alt="App Name" class="img-responsive">
</div>
</div>
</div>
</section>
<section class="bg-white">
<div class="container">
<div class="row">
<div data-toggle="play-animation" data-play="fadeInLeft" data-offset="-250" class="col-lg-6">
<img src="{% static "app/img/landing/app-chart.png" %}" alt="App Name" class="img-responsive">
</div>
<div class="col-lg-6">
<h2 class="page-header">Project Home</h2>
<p class="text-md">Maintain your team's organization through its project home. </p>
<p>Communicate with team members through the projects activity feed. Keep everyone on the same page through the development process.</p>
<p>Real-time team collaboration chat and suite of collaboration tools (Coming Soon!)</p>
</div>
</div>
</div>
</section>
<section>
<div class="container">
<div class="row">
<div class="col-lg-6">
<h2 class="page-header">Dashboard</h2>
<p>Keep track of all your projects, associates and activities through your dashboard.</p>
<p>Start your own project. Select the skills you need your team to have. Turn this idea or prototype into a real product.</p>
<p>Stay informed with all your projects activities (Coming Soon!)</p>
<br>
<p>
</p>
</div>
<div data-toggle="play-animation" data-play="fadeInRight" data-offset="-250" class="col-lg-6">
<img src="{% static "app/img/landing/app-widget.png" %}" alt="App Name" class="img-responsive">
</div>
</div>
</div>
</section>
<section id="callout">
<div data-toggle="play-animation" data-play="fadeInLeftBig" data-offset="-200" class="container text-center">
<h1>Ready to start?</h1>
<h4>Join Scrumbld and start developing your project today.</h4>
<p>
<br>
<a href="/register/" class="btn btn-primary btn-lg btn-oval btn-fw">
<strong>Join Now!</strong>
</a>
</p>
</div>
</section>
<footer class="footer-2">
<div class="container">
<div class="row">
<div class="col-lg-4">
<p>Copyright 2014 | <a href="#">Terms of Service </a>| <a href="#">Privacy Policy</a>
</p>
</div>
<div class="col-lg-4"></div>
</div>
</div>
</footer>
<!-- END wrapper-->
<!-- START Scripts-->
<!-- Main vendor Scripts-->
<script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
<script src="{% static "vendor/bootstrap/js/bootstrap.min.js" %}"></script>
<!-- Animo-->
<script src="{% static "vendor/animo/animo.min.js" %}"></script>
<!-- Custom script for pages-->
<script src="{% static "app/js/pages.js" %}"></script>
<!-- END Scripts-->


</body></html>
