            <ul class="nav navbar-nav navbar-right">
               <!-- Search icon-->
               <li>
                  <a href="#" data-toggle="navbar-search">
                     <em class="fa fa-search"></em>
                  </a>
               </li>
               {% if user.is_authenticated %}






               <!-- START Alert menu-->
               <li class="dropdown dropdown-list">
                  <a href="#" data-toggle="dropdown" data-play="fadeIn" class="dropdown-toggle">
                     {% if notifications > 0 %}
                     <em style="color:red" class="fa fa-bell-o"></em>
                     <div class="label label-danger">{{ notifications }}</div>
                     {% else %}
                     <em class="fa fa-bell-o"></em>
                     {% endif %}
                  </a>
                  <!-- START Dropdown menu-->
                  <ul class="dropdown-menu">
                     <li>
                        <!-- START list group-->
                        <div class="list-group">
                           <!-- list item-->
                           {% if new_messages > 0 %}
                           <a href="/user/messages/" class="list-group-item">
                              <div class="media">
                                 <div class="pull-left">
                                    <em class="fa fa-envelope-o fa-2x text-success"></em>
                                 </div>
                                 <div class="media-body clearfix">
                                    <div class="media-heading">Unread messages</div>
                                    <p class="m0">
                                    <small>{{ new_messages }} new messages</small>
                                    </p>
                                 </div>
                              </div>
                           </a>
                           {% endif %}


                           {% if associate_requests > 0 %}
                           <!-- list item-->
                           <a href="/user/associates/" class="list-group-item">
                              <div class="media">
                                 <div class="pull-left">
                                    <em class="fa fa-users fa-2x text-primary"></em>
                                 </div>
                                 <div class="media-body clearfix">
                                    <div class="media-heading">Associates</div>
                                    <p class="m0">
                                        <small>{{ associate_requests }} associate requests</small>
                                    </p>
                                 </div>
                              </div>
                           </a>
                           {% endif %}


                           {% if notifications < 1 %}
                           <!-- last list item -->
                           <span class="list-group-item">
                              <small>All caught up</small>
                           </span>
                           {% endif %}
                        </div>
                        <!-- END list group-->
                     </li>
                  </ul>
                  <!-- END Dropdown menu-->
               </li>
               <!-- END Alert menu-->




               <!-- START User menu-->
               <li class="dropdown">
                  <a href="#" data-toggle="dropdown" data-play="fadeIn" class="dropdown-toggle">
                    {{ user.username }}
                  </a>
                  <!-- START Dropdown menu-->
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'users.views.dashboard' %}"><em class="fa fa-dashboard">&nbsp;</em> Dashboard</a></li>
                    <li><a href="{% url 'users.views.messages' %}"><em class="fa fa-envelope-o">&nbsp;</em> Messages</a></li>
                    <li><a href="{% url 'users.views.associates' %}"><em class="fa fa-users">&nbsp;</em> Associates </a></li>
                    <li><a href="{% url 'users.views.projects' %}"><em class="fa fa-clipboard">&nbsp;</em> Projects</a></li>
                    <!-- <li><a href="{% url 'users.views.requests' %}"><em class="fa fa-check-square-o">&nbsp;</em> Requests</a></li> -->
                    <li class="divider"></li>
                    <li><a href="/user/logout/?next=/user/logged-out/"><em class="fa fa-sign-out">&nbsp;</em> Logout</em></a></li>
                  </ul>
                  <!-- END Dropdown menu-->
               </li>
               <!-- END User menu-->


               <!-- START Contacts button-->
               {% comment %}
               <li>
                  <a href="#" data-toggle-state="offsidebar-open">
                     <em class="fa fa-comment-o"></em>
                  </a>
               </li>
               {% endcomment %}
               <!-- END Contacts menu-->



                {% else %}
               <li><a data-toggle="tooltip" data-placement="bottom" data-original-title="Login or Register" href="/user/login/"><em class="fa fa-sign-in"></em></a></li>
               {% endif %}
            </ul>

