{% extends "basics/base.html" %}

{% block top_right %}

{% endblock %}


{% block content  %}


    <!-- 
    <div class="col-md-10">
    -->
    <div class="col-md-12">
      {% for p in projects %}
      <div class="well">
        <div class="row">
          <div class="col-md-8">
            <h4>{{ p }}</h4>
            <p>{{ p.description|linebreaks }}</p>
          </div>
          <div class="col-md-4 text-right">
            <br>
            <a href="{% url 'projects.views.details' p.pk %}" class="btn btn-info">Details</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- 
    <div class="col-md-2">
      Other stuff over here?
    </div>
    -->


{% endblock %}
